@model Dictionary<int, Dictionary<string, string>>


<div class="container mt-5 px-5">
    @if (User.IsInRole("SuperAdmin"))
        {
        <div class="create-category ">
            <a asp-area="Admin" asp-controller="Setting" asp-action="Create" class="btn btn-success text-white mr-10">Create</a>
        </div>
        }
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="border-top-0">Key</th>
                        <th class="border-top-0">Value</th>
                        <th class="border-top-0">Operations</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="txt-oflo">
                                <h6>@item.Value["Key"]</h6>
                            </td>
                            <td class="txt-oflo">
                                <h6>@item.Value["Value"]</h6>
                            </td>
                            <td>
                                <a class="btn btn-warning text-white" asp-action="Edit" asp-route-id="@item.Key">Edit</a>
                                @if (User.IsInRole("SuperAdmin"))
                                    {
                                    <form class="form-horizontal d-inline mt-4" method="post" asp-action="Delete" asp-route-id="@item.Key">
                                        <button type="submit" class="btn btn-danger text-white">Delete</button>
                                    </form>
                                    }
                                </td>
                        </tr>
                    }
                <tbody>
            </table>
        </div>
    </div>
