
<style>

    .color-back {
        background-color: #061138 !important;
    }


</style>


<div class="container" style="padding-top:300px;padding-bottom:200px">
    <div class="alert alert-success text-center" role="alert">
        Please check your email
    </div>
</div>