﻿
<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords"
          content="wrappixel, admin dashboard, html css dashboard, web dashboard, bootstrap 5 admin, bootstrap 5, css3 dashboard, bootstrap 5 dashboard, Nice lite admin bootstrap 5 dashboard, frontend, responsive bootstrap 5 admin template, Nice admin lite design, Nice admin lite dashboard bootstrap 5 dashboard template">
    <meta name="description"
          content="Nice Admin Lite is powerful and clean admin dashboard template, inpired from Bootstrap Framework">
    <meta name="robots" content="noindex,nofollow">
    <title>Admin</title>
    <link rel="canonical" href="https://www.wrappixel.com/templates/niceadmin-lite/" />
    <!-- Favicon icon -->
    <!-- Custom CSS -->
    <link href="~/admin/assets/libs/chartist/dist/chartist.min.css" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">



<!-- Custom CSS -->
<link href="~/admin/dist/css/style.min.css" rel="stylesheet">
    @RenderSection("css", false)
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper" data-navbarbg="skin6" data-theme="light" data-layout="vertical" data-sidebartype="full"
         data-boxed-layout="full">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->





        <aside class="left-sidebar" data-sidebarbg="skin5">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="index.html"
                               aria-expanded="false">
                                <i class="mdi mdi-av-timer"></i>
                                <span class="hide-menu">Dashboard</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" asp-area="Admin" asp-controller="Reservation" asp-action="Index"
                               aria-expanded="false">
                                <i class="mdi mdi-border-none"></i>
                                <span class="hide-menu">Reservations</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" asp-area="Admin" asp-controller="SliderVideo" asp-action="Index"
                               aria-expanded="false">
                                <i class="mdi mdi-border-none"></i>
                                <span class="hide-menu">SliderVideo</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" asp-area="Admin" asp-controller="Partner" asp-action="Index"
                               aria-expanded="false">
                                <i class="mdi mdi-border-none"></i>
                                <span class="hide-menu">Partner</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" asp-area="Admin" asp-controller="Setting" asp-action="Index"
                               aria-expanded="false">
                                <i class="mdi mdi-border-none"></i>
                                <span class="hide-menu">Setting</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" asp-area="Admin" asp-controller="Position" asp-action="Index"
                               aria-expanded="false">
                                <i class="mdi mdi-border-none"></i>
                                <span class="hide-menu">Position</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" asp-area="Admin" asp-controller="YachtCategory" asp-action="Index"
                               aria-expanded="false">
                                <i class="mdi mdi-border-none"></i>
                                <span class="hide-menu">YachtCategory</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" asp-area="Admin" asp-controller="About" asp-action="Index"
                               aria-expanded="false">
                                <i class="mdi mdi-border-none"></i>
                                <span class="hide-menu">About</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" asp-area="Admin" asp-controller="Staff" asp-action="Index"
                               aria-expanded="false">
                                <i class="mdi mdi-border-none"></i>
                                <span class="hide-menu">Staff</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" asp-area="Admin" asp-controller="DestinationCountry" asp-action="Index"
                               aria-expanded="false">
                                <i class="mdi mdi-border-none"></i>
                                <span class="hide-menu">DestinationCountry</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" asp-area="Admin" asp-controller="Subscriber" asp-action="Index"
                               aria-expanded="false">
                                <i class="mdi mdi-border-none"></i>
                                <span class="hide-menu">Subscriber</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" asp-area="Admin" asp-controller="ComplaintSuggest" asp-action="Index"
                               aria-expanded="false">
                                <i class="mdi mdi-border-none"></i>
                                <span class="hide-menu">ComplaintSuggest</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" asp-area="Admin" asp-controller="DestinationCity" asp-action="Index"
                               aria-expanded="false">
                                <i class="mdi mdi-border-none"></i>
                                <span class="hide-menu">DestinationCity</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" asp-area="Admin" asp-controller="WaterSport" asp-action="Index"
                               aria-expanded="false">
                                <i class="mdi mdi-border-none"></i>
                                <span class="hide-menu">WaterSport</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" asp-area="Admin" asp-controller="Blog" asp-action="Index"
                               aria-expanded="false">
                                <i class="mdi mdi-border-none"></i>
                                <span class="hide-menu">Blog</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" asp-area="Admin" asp-controller="Yacht" asp-action="Index"
                               aria-expanded="false">
                                <i class="mdi mdi-border-none"></i>
                                <span class="hide-menu">Yacht</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" asp-area="Admin" asp-controller="User" asp-action="Index"
                               aria-expanded="false">
                                <i class="mdi mdi-border-none"></i>
                                <span class="hide-menu">User</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" asp-area="Admin" asp-controller="Comment" asp-action="Index"
                               aria-expanded="false">
                                <i class="mdi mdi-border-none"></i>
                                <span class="hide-menu">Comment</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="starter-kit.html"
                               aria-expanded="false">
                                <i class="mdi mdi-file"></i>
                                <span class="hide-menu">Blank</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="error-404.html"
                               aria-expanded="false">
                                <i class="mdi mdi-alert-outline"></i>
                                <span class="hide-menu">404</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>

        <div>

@RenderBody()
    </div>





    <!-- ============================================================== -->
    <!-- End footer -->
    <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Page wrapper  -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- All Jquery -->
<!-- ============================================================== -->
<script src="~/admin/assets/libs/jquery/dist/jquery.min.js"></script>

@RenderSection("js", false)

<!-- Bootstrap tether Core JavaScript -->
<script src="~/admin/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<!-- slimscrollbar scrollbar JavaScript -->
<script src="~/admin/assets/extra-libs/sparkline/sparkline.js"></script>
<!--Wave Effects -->
<script src="~/admin/dist/js/waves.js"></script>
<!--Menu sidebar -->
<script src="~/admin/dist/js/sidebarmenu.js"></script>
<!--Custom JavaScript -->
<script src="~/admin/dist/js/custom.min.js"></script>
<!--This page JavaScript -->
<!--chartis chart-->
<script src="~/admin/assets/libs/chartist/dist/chartist.min.js"></script>
<script src="~/admin/assets/libs/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js"></script>
<script src="~/admin/dist/js/pages/dashboards/dashboard1.js"></script>
</body>

</html>
