@font-face {
  font-family: CustomFontFamily;
  src: url(../fonts//Euclid\ Circular\ A\ Light.ttf);
}

.container {
  max-width: 1140px !important;
}

body {
  font-family: CustomFontFamily;
  list-style: none;
  text-decoration: none;
}

a {
  text-decoration: none;
}
.navbar {
  position: absolute;
  top: 0;
  width: 100%;
  background: transparent;
  height: 100px;
  z-index: 99;
}

.nav-scroll {
  position: fixed;
  width: 100%;
  top: -100px;
  left: 0;
  width: 100%;
  background-color: #061138;
  z-index: 999;
  transition: transform 0.5s, -webkit-transform 0.5s;
  transform: translateY(100px);
}




.preloader-bg,
#preloader {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #fff;
    z-index: 999999;
}

#preloader {
    display: table;
    table-layout: fixed;
}

#preloader-status {
    display: table-cell;
    vertical-align: middle;
}

.preloader-position {
    position: relative;
    margin: 0 auto;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.loader {
    position: relative;
    width: 65px;
    height: 65px;
    left: 50%;
    top: auto;
    margin-left: -22px;
    margin-top: 2px;
    -webkit-animation: rotate 1s infinite linear;
    -moz-animation: rotate 1s infinite linear;
    -ms-animation: rotate 1s infinite linear;
    -o-animation: rotate 1s infinite linear;
    animation: rotate 1s infinite linear;
    border: 2px solid rgba(30, 144, 255,0.2);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

    .loader span {
        position: absolute;
        width: 65px;
        height: 65px;
        top: -2px;
        left: -2px;
        border: 2px solid transparent;
        border-top: 2px solid #1e90ff;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        border-radius: 50%;
    }

@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}



.navbar .header-logo {
  width: 140px;
  text-align: center;
}

.navbar .header-logo img {
  padding: 20px 0;
  width: 100%;
  text-align: center;
}

.navbar .header-menu ul {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.navbar .header-menu ul a {
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-weight: 400;
  margin: 1px;
}

.header-foto {
  object-fit: cover;
  background-repeat: no-repeat;
  padding: 120px 0;
  height: 70vh;
  position: relative;
  background-position: center;
  background-attachment: fixed;
}

.header-foto::before {
  opacity: 0.7;
  background: #061138;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.foto-title {
  text-align: center;
  color: white;
  position: absolute;
  z-index: 222;
  top: 35%;
  left: 50%;
  transform: translateY(-50%);
  transform: translateX(-50%);
}

.foto-title h1 {
  position: relative;
  font-size: 48px;
  line-height: 1.2em;
  font-weight: 700;
}

.foto-title h1 span {
  color: #1e90ff;
}

.foto-title p {
  position: relative;
  display: inline-block;
  font-size: 15px;
  line-height: 24px;
  color: #fff;
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.2;
}

.progress-wrap {
  position: fixed;
  bottom: 30px;
  right: 30px;
  height: 50px;
  width: 50px;
  cursor: pointer;
  display: block;
  border-radius: 50px;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(20px);
  -ms-transform: translateY(20px);
  transform: translateY(20px);
  -webkit-transition: all 400ms linear;
  -o-transition: all 400ms linear;
  transition: all 400ms linear;
}
.progress-wrap.active-progress {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}
.progress-wrap::after {
  position: absolute;
  content: "△";
  text-align: center;
  line-height: 50px;
  font-size: 15px;
  font-weight: normal;
  color: transparent;
  left: 0;
  top: 0;
  height: 50px;
  width: 50px;
  cursor: pointer;
  display: block;
  z-index: 1;
  -webkit-transition: all 400ms linear;
  -o-transition: all 400ms linear;
  transition: all 400ms linear;
}
.progress-wrap svg path {
  fill: none;
}
.progress-wrap svg.progress-circle path {
  stroke: transparent;
  stroke-width: 4;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 400ms linear;
  -o-transition: all 400ms linear;
  transition: all 400ms linear;
}
.progress-wrap::after {
  color: #1e90ff;
}
.progress-wrap svg.progress-circle path {
  stroke: #1e90ff;
}

footer {
  background: #061138;
}

.footer-up {
  padding-top: 120px;
}

.footer-up .footer-contact {
  display: flex;
  margin-bottom: 45px;
  padding: 20px 20px 20px;
  border-radius: 3px;
  border-style: solid;
  border-width: 2px;
  border-color: rgba(255, 255, 255, 0.1);
  box-shadow: none;
  align-items: center;
  width: 100%;
  justify-content: space-around;
}

.footer-up .footer-contact .contact-infos {
  display: flex;
}

.footer-up .footer-contact .contact-infos .icon {
  margin-right: 22px;
}

.icon-footer {
  width: 60px;
  max-height: 60px;
  min-height: 60px;
  min-width: 60px;
  background-color: #1e90ff;
  color: #fff;
  font-size: 24px;
  display: flex;
  align-items: center;
  border: 2px solid #1e90ff;
  border-radius: 100%;
}

.icon-footer i {
  width: 100%;
  text-align: center;
}

.footer-up .footer-contact .contact-infos .text h6 {
  color: #fff;
  font-size: 17px;
  margin-bottom: 3px;
  margin-top: 5px;
  font-weight: 700;
  line-height: 1.2em;
  margin: 0 0 15px 0;
}

.footer-up .footer-contact .contact-infos .text p {
  font-weight: 400;
  line-height: 1.75em;
  color: rgba(255, 255, 255, 0.8);
  font-size: 15px;
  margin-bottom: 0px;
}

.line {
  width: 2px;
  min-height: 100%;
  margin-right: 20px;
  margin-left: 20px;
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-center {
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-center .left {
  padding: 30px 0;
}

.footer-center .left .footer-logo {
  width: 140px;
  margin-bottom: 20px;
}

.footer-center .left .footer-logo img {
  width: 100%;
  height: auto;
}

.footer-center .left p {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.75em;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 25px;
}

.footer-center .left .social-icon ul {
  padding-left: 0;
  list-style: none;
  margin-top: 0;
  margin-bottom: 1rem;
}

.footer-center .left .social-icon ul li {
  display: inline-block;
  z-index: 1;
  position: relative;
  width: 45px;
  height: 45px;
  line-height: 42px;
  text-align: center;
  background: #1e90ff;
  margin-right: 5px;
  transition: all 0.4s;
  border-radius: 100%;
  border: 2px solid #1e90ff;
  font-size: 17px;
}

.footer-center .left .social-icon ul li i {
  color: #fff;
}

.footer-center .center {
  padding: 30px 0;
  margin-left: 30%;
}

.footer-center .center h3 {
  font-weight: 700;
  line-height: 1.2em;
  margin: 0 0 15px 0;
  font-size: 21px;
  display: inline-block;
  position: relative;
  color: #fff;
}

.footer-center .center ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-center .center ul li {
  margin-bottom: 5px;
}

.footer-center .center ul li a {
  color: rgba(255, 255, 255, 0.8);
  position: relative;
  padding-left: 0px;
  transition: all 0.5s;
}

.footer-center .center ul li a:hover {
  color: #1e90ff;
}

.footer-center .widget {
  padding: 30px 0;
}

.footer-center .widget h3 {
  font-weight: 700;
  line-height: 1.2em;
  margin: 0 0 15px 0;
  font-size: 21px;
  color: #fff;
}

.footer-center .widget p {
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 25px;
  margin-top: 22px;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.75em;
}

.footer-center .widget .subscride {
  position: relative;
}

.footer-center .widget .subscride input {
  height: 60px;
  width: 100%;
  background: transparent;
  font-size: 15px;
  color: #fff;
  outline: none;
  padding: 0 90px 0 20px;
  border: 2px solid #1e90ff;
  border-radius: 30px;
}

.footer-center .widget .subscride button {
  height: 50px;
  border: none;
  background: #1e90ff;
  font-size: 15px;
  color: #fff;
  outline: none;
  display: inline-block;
  position: absolute;
  top: 5px;
  right: 5px;
  border-radius: 100%;
  width: 50px;
}

.footer-down {
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer-down p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
}

#watersport-detail {
  padding: 120px 0;
  position: relative;
}

#watersport-detail h6 {
  position: relative;
  font-size: 24px;
  color: #061138;
  margin-bottom: 15px;
}

#watersport-detail p {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.75em;
  color: #6f7b91;
  margin-bottom: 30px !important;
}

#watersport-detail .included {
  display: grid;
  font-size: 15px;
}

#watersport-detail .included ul {
  position: relative;
  float: left;
  padding: 0;
  margin: 0;
  color: #6f7b91;
  list-style: none;
  margin-bottom: 30px !important;
}

#watersport-detail .included ul li {
  position: relative;
  line-height: 1.75em;
  margin-bottom: 10px;
  padding-left: 15px;
}

#watersport-detail .included ul li::before {
  content: ".";
  position: absolute;
  left: 0;
  top: -8px;
  color: #1e90ff;
  font-weight: 700;
  font-size: 32px;
}

#watersport-detail .price {
  padding: 15px 0;
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  border-bottom: 2px solid rgba(30, 144, 255, 0.15);
  margin-bottom: 45px !important;
}

#watersport-detail .price span {
  color: #061138;
}

#watersport-detail .price span i {
  color: #1e90ff;
  margin-right: 10px;
  font-size: 17px;
}

#watersport-detail .price p {
  margin-top: 0;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.75em;
  color: #6f7b91;
  margin-bottom: 0 !important;
}

#watersport-detail h6 {
  position: relative;
  font-size: 24px;
  color: #061138;
  margin-bottom: 15px;
}

#watersport-detail p {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.75em;
  color: #6f7b91;
}

#watersport-detail .gallery-item img {
  max-width: 100%;
  height: auto;
}

#watersport-detail .reservation {
  background: #1e90ff;
  color: #fff;
  padding: 30px 25px;
}

#watersport-detail .reservation h3 {
  color: #fff;
  font-size: 24px;
  margin-bottom: 0;
  font-weight: 700;
  line-height: 1.2em;
  margin: 0 0 15px 0;
}

#watersport-detail .reservation p {
  font-weight: 400;
  line-height: 1.75em;
  color: #fff;
  font-size: 15px;
  margin-bottom: 0;
}

#watersports {
  position: relative;
  padding: 120px 0;
  background: #f0f8ff;
}

#watersports .sport-subtitle {
  position: relative;
  color: #1e90ff;
  font-size: 13px;
  line-height: 13px;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

#watersports .sport-title {
  font-size: 45px;
  line-height: 1.1em;
  font-weight: 700;
  color: #061138;
  position: relative;
  margin-bottom: 15px;
}

#watersports .sport-title span {
  color: #1e90ff;
}

.watersports {
  position: relative;
}
.watersports:last-child {
  margin-bottom: 15px;
}
.watersports .sport-image {
  position: relative;
  width: 60%;
  margin-left: auto;
}

.watersports .sport-image img,
.watersports.left .sport-image img {
  border-radius: 3px;
  transition: all 0.5s;
}
.watersports .sport-image img:hover {
  transform: scale(0.98);
}
.watersports .caption {
  background: #fff;
  position: absolute;
  left: 0;
  top: 50%;
  width: 50%;
  padding: 4% 4% 4% 0;
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  border-radius: 3px;
  overflow: hidden;
}
.watersports.left .caption {
  left: auto;
  right: 0;
  background: #fff;
  padding: 4% 0 4% 4%;
  border-radius: 3px;
  overflow: hidden;
}
.watersports .caption.padding-left {
  padding-left: 4%;
}
.watersports.left .caption.padding-left {
  padding-right: 4%;
}
.watersports .caption .iconso {
  font-size: 350px;
  line-height: 350px;
  position: absolute;
  bottom: 0;
  right: -175px;
  color: #061138;
  opacity: 0.03;
  text-align: center;
  z-index: -1;
}
.watersports .caption h4,
.watersports .caption h4 a {
  font-size: 30px;
  color: #061138;
  margin-bottom: 15px;
  font-weight: 700;
}
.watersports .caption h3,
.watersports .caption h3 a {
  font-size: 12px;
  color: #1e90ff;
  margin-bottom: 5px;
  font-weight: 400;
  letter-spacing: 4px;
  text-transform: uppercase;
}
.watersports .caption h3 span {
  color: #1e90ff;
}
.watersports .caption .info-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.watersports .caption .book {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}
.watersports .caption .book > div {
  display: table-cell;
  vertical-align: middle;
  padding-right: 15px;
}
.watersports .caption .book > div:nth-child(2) {
  padding-left: 15px;
  padding-right: 0;
  font-size: 15px;
  line-height: 1.2em;
}
.watersports .caption .book > div > span {
  display: block;
  margin-bottom: 0;
  font-size: 14px;
}
.watersports .caption .book .price {
  font-size: 32px;
  line-height: 1.2em;
  color: #061138;
  font-weight: 700;
}
.watersports .caption .book .price span {
  font-size: 14px;
  font-weight: 400;
  color: #6f7b91;
  margin-bottom: 0;
}
.watersports .owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 15px;
}
